<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Chatlio</title>
    
    <style>
        .container{
            font-family: sans-serif;
        }
        h2{
            font-weight: 400;
        }
        p{
            font-weight: 100;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Hi! {recipient}</h2>
        <p>Welcome to Chatlio!</p><p>There isn't much to do yet, but just find someone on there and chat with them.</p>
        <p>For now, you can go add up the admin (DotSama aka Israel Adigun) and getting to know them @{adminId}</p>
    </div>
</body>
</html>