.App {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.fluid-container {
  margin: 10px 20px;
  padding: 4px;
  overflow: hidden;
}

.lead {
  font-weight: 200;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.726);
}
