.stage {
  height: 87vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .jumbotron {
    padding: 15px;
    min-width: 300px;
    max-height:50% ;

    .form-field {
      box-shadow: 3px 3px 18px rgba(0, 0, 0, 0.11);
      padding: 10px 8px;
      width: 100%;
      min-height: 100%;

      .submit-btn{
        position: absolute;
        top: 100%;
      }
    }

    h3 {
      text-align: center;
      font-size: 23px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 400;
      margin: 10px 0;
      color: lighten($color: $app-def-color, $amount: 10);
    }

    form {
      line-height: 2.4rem;
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      div {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        label {
          font-size: 13px;
          color: darken($color: $app-def-color, $amount: 30);
          margin: 0 10px;
        }
        input {
          min-width: 20px;
          height: 23px;
          border: 1px solid rgba(0, 0, 0, 0.281);
          margin: 0 3px;
          border-radius: 5px;
          position: absolute;
          right: 0px;
          padding: 0 6px;

          @include second-mobile-responsiveness {
            min-width: 30vw;
          }
        }
      }
    }

    .uploadButton {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      text-align: center;
      transform: translateY(-20px);
      padding: 20px;
      justify-content: center;
      align-items: center;
      background-color: rgba(26, 3, 88, 0.671);

      .check-icon {
        display: none;
        position: absolute;
        right: 32px;
        bottom: 10px;
        opacity: 0.8;
        font-size: 20px;
        color: $app-def-color;

        &.open {
          display: block;
        }
      }

      .lead {
        color: white;
        margin: 8px 0;
      }

      .icon {
        font-size: 40px;
        color: white;
      }
    }

    .actualUploader {
      display: none;
    }
  }
}
