.home-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  @include second-mobile-responsiveness {
    display: block;
    margin-top: 10vh;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;

    @include second-mobile-responsiveness {
      width: 90vw;
    }
    h3 {
      text-align: center;
      font-size: 34px;
      font-weight: 100;
      color: rgba(8, 7, 97, 0.267);

      @include second-mobile-responsiveness {
        font-size: 28px;
      }
    }
  }

  .illustration p {
    transform: translateY(-30px);
    text-align: center;
    color: rgba(0, 0, 0, 0.685);
    font-size: 16px;
  }

  &-img {
    width: 60vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: contain;

    @include second-mobile-responsiveness {
      width: 90vw;
      height: 40vh;
    }
  }
}

.toggler {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  z-index: 10000000000;
  left: 50vw;
  transition: 0.9s ease;

  &.open {
    transform: translateY(-81vh) rotate(180deg);
  }
}

.panel {
  background-color: rgb(255, 255, 255);
  box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.336);
  border-radius: 10px 10px 0 0;
  height: 90vh;
  overflow-y: scroll;
  min-width: 89vw;
  opacity: 0;
  padding: 10px;
  margin: 0 18px;
  position: absolute;
  top: 25vh;
  left: 6vw;
  transition: 0.7s ease;
  transform: scaleY(0) translateY(70vh);

  &.open {
    transform: scaleY(1) translateY(-15vh);
    opacity: 0.9;
    display: block;
  }

  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include second-mobile-responsiveness {
      display: block;
    }

    .panel-box-beta {
      grid-column: 2/2;
      margin-top: 27vh;

      @include second-mobile-responsiveness {
        margin-top: 0;
      }
    }

    section {
      width: 100%;
      height: 60%;
      padding: 5px;
      position: relative;

      img {
        width: 100%;
        margin: auto;
        height: 70%;
      }

      p {
        font-size: 16px;
        color: rgba(5, 0, 26, 0.829);
        margin: 3px 18px;
      }

      span {
        font-size: 14px;
        margin: 0 20px;
        em {
          font-weight: 500;
          font-size: 12px;
        }
      }

      .panel-btn {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.185);
        padding: 8px;
        text-decoration: none;
        position: absolute;
        bottom: 7px;
        left: 20px;
        color: $app-def-color;
        transition: all ease 400;

        &:hover {
          color: white;
          background-color: $app-def-color;
        }

        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}
