.navbar-container {
  width: 100vw;
  overflow: hidden;
  padding: 15px;
  font-family: sans-serif;

  @include second-mobile-responsiveness{
    padding:10px 10px 0 10px;

  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-brand {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .messenger-icon {
        color: $app-def-color;
        font-size: 40px;
      }

      h3 {
        font-weight: 600;
        opacity: 0.8;
      }
    }

    .logout-btn{
      cursor: pointer;
      display: inline;

    }


    .standard-nav {
      display: flex;
      // width: 50%;
      justify-content: flex-end;
      align-items: center;

      @include second-mobile-responsiveness {
        display: none;
      }

      ul {
        padding: 12px 15px;
        z-index: 100;
        // width: 49%;
        display: flex;
        justify-content: space-between;
        list-style: none;


        @include first-mobile-responsiveness {
          width: 70%;
        }

        li {
          font-size: 16px;
          font-weight: 400;
          margin: 0 20px;
          
          .nav-link {
            color: rgb(85, 26, 139);
            text-decoration: none;
            transition: all ease 0.4s;
            position: relative;
            z-index: 100000000;
    
            &:hover {
              position: relative;
              color: rgb(255, 255, 255);
              background-color: $app-def-color;
              padding: 10px 15px;
              border-radius: 30px;
            }
          }
        }
      }

      div {
        padding: 7px;
        margin-left: 50px;
        font-size: 24px;
      }
    }

    .responsive-nav-view {
      display: none;

      .user-profile-details {
        position: absolute;
        display: flex;
        align-items: center;
        right: 62px;
        transform: translateY(-18px);

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .user-icon {
          font-size: 30px;
          color: rgb(189, 189, 189);
        }

        .link {
          font-weight: 400;
          z-index: 1000000000000000;
          font-size: 17px;
          text-shadow: 2px 1px 2px rgba(113, 2, 204, 0.096);
          text-decoration: none;
          margin: 0 5px;
          color: $app-def-color;

        }
      }

      @include second-mobile-responsiveness {
        display: block;
      }

      .hamburger-btn {
        width: 30px;
        height: 4px;
        z-index: 1000000;
        background-color: $app-def-color;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 8px;
        transition: all 0.6s ease;

        &::before {
          content: "";
          background-color: $app-def-color;
          position: absolute;
          top: -10px;
          left: 0;
          width: 125%;
          height: 100%;
          transition: all 0.6s ease;
          border-radius: 4px;
        }

        &::after {
          content: "";
          background-color: $app-def-color;
          position: absolute;
          top: 10px;
          left: 0;
          width: 75%;
          height: 80%;
          transition: all 0.4s ease;
          border-radius: 4px;
        }

        &.open {
          width: 20px;
          background-color: rgb(0, 0, 0);
          z-index: 1000000000;
          transform: rotate(45deg) translateX(2px);

          &::before {
            width: 27px;
            height: 27px;
            background-color: rgb(255, 255, 255);
            opacity: 0.1;
            transform: translateX(-3px) translateY(-1px);
            z-index: -100000;
            border-radius: 50%;
          }

          &::after {
            width: 100%;
            height: 100%;
            z-index: 10000;
            background-color: rgba(0, 0, 0, 0.509);
            transform: translateY(-10px) rotate(-90deg);
          }
        }
      }

      .responsive-nav {
        height: 100%;
        width: 105vw;
        z-index: 100000000;
        position: fixed;
        background-color: rgba(22, 0, 62, 0.905);
        top: 0vh;
        transform: scale(0) translateX(0vw) translateY(0vh);
        transition: all ease 0.5s;

        ul {
          list-style: none;
          min-height: 100%;
          padding-top: 8px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 25px 0;
          min-width: 60%;
          li {
            padding: 7px;
            text-align: center;
            .nav-link {
              text-decoration: none;
              font-size: 20px;
              font-weight: 100;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              color: rgb(255, 255, 255);
            }
          }
        }

        &.open {
          opacity: 1;
          transform: scale(1) translateX(-90vw) translateY(0);
        }
      }
    }
  }
}
