@import "variables";
@import "app";
@import "navbar";
@import "home";
@import "login";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 9px;
  margin: 6px;
  padding: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: rgba(160, 160, 160, 0.836);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.589);
}
